MVCPL2/Service References/ServiceBookStore/BookStore1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Libro">
    <xs:sequence>
      <xs:element minOccurs="0" name="Autor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Editorial" nillable="true" type="tns:Editorial" />
      <xs:element minOccurs="0" name="IDEditorial" type="xs:short" />
      <xs:element minOccurs="0" name="IDLibro" type="xs:short" />
      <xs:element minOccurs="0" name="ISBN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Paginas" type="xs:short" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
      <xs:element minOccurs="0" name="Publicacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Stock" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Libro" nillable="true" type="tns:Libro" />
  <xs:complexType name="Editorial">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="E_mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDEditorial" type="xs:short" />
      <xs:element minOccurs="0" name="Libros" nillable="true" type="tns:ArrayOfLibro" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Web" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Editorial" nillable="true" type="tns:Editorial" />
  <xs:complexType name="ArrayOfLibro">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Libro" nillable="true" type="tns:Libro" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLibro" nillable="true" type="tns:ArrayOfLibro" />
  <xs:complexType name="ArrayOfEditorial">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Editorial" nillable="true" type="tns:Editorial" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEditorial" nillable="true" type="tns:ArrayOfEditorial" />
  <xs:complexType name="ArrayOfGetAllDataSP">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetAllDataSP" nillable="true" type="tns:GetAllDataSP" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetAllDataSP" nillable="true" type="tns:ArrayOfGetAllDataSP" />
  <xs:complexType name="GetAllDataSP">
    <xs:sequence>
      <xs:element minOccurs="0" name="Autor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripción" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dirección" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Editorial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDLibro" type="xs:short" />
      <xs:element minOccurs="0" name="ISBN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
      <xs:element minOccurs="0" name="Publicación" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Páginas" type="xs:short" />
      <xs:element minOccurs="0" name="Stock" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="Teléfono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Título" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Web" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAllDataSP" nillable="true" type="tns:GetAllDataSP" />
</xs:schema>