MVCPL2/Service References/ServiceBookStore/BookStore2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://vmbookstore14.cloudapp.net/sl/BookStore.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="CreateBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newBook" nillable="true" type="q1:Libro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="CreateBookResult" nillable="true" type="q2:Libro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveBookByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveBookByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="RetrieveBookByIDResult" nillable="true" type="q3:Libro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="bookToUpdate" nillable="true" type="q4:Libro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBookResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBookResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBooks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBooksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetAllBooksResult" nillable="true" type="q5:ArrayOfLibro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEditoriales">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEditorialesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetAllEditorialesResult" nillable="true" type="q6:ArrayOfEditorial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRecord">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetAllRecordResult" nillable="true" type="q7:ArrayOfGetAllDataSP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterBookByEditorialID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDCategory" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterBookByEditorialIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FilterBookByEditorialIDResult" nillable="true" type="q8:ArrayOfLibro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterBookByTitulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="titulo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterBookByTituloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FilterBookByTituloResult" nillable="true" type="q9:ArrayOfLibro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEditorial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newEditorial" nillable="true" type="q10:Editorial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEditorialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="CreateEditorialResult" nillable="true" type="q11:Editorial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterBookByEditorial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreEditorial" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterBookByEditorialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FilterBookByEditorialResult" nillable="true" type="q12:ArrayOfLibro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>